*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
}

.headSection {
    width: 100vw;
    height: 395px;
    position: relative;
    background-color: #6f7845;
}

.My_img {
    width: 40vw;
    height: 390px;
}

.My_img img {
    position: absolute;
    top: 111px;
    left: 154px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    width: 433px;
    height: 436px;
}

.headDIV {
    border: 1px solid rgb(187, 102, 102);
    font-size: 60px;
    display: flex;
    justify-content: space-between;
}

.head2DIV {
    height: 390px;
    border: 1px solid white;
    width: 60vw;
    font-family: "Noto Sans TC", sans-serif;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.headText {
    color: #fff;
}
.headLINKS{
    margin-top: 10px;
}
.headLINKS a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 50px;
    justify-content: center;
    text-decoration: none;
    font-family: "Noto Sans TC", sans-serif;
    color: white;
}


.footerHead{
    background-color: #6f7845;
    width: 100vw;
    display: flex;
    height: 70px;
}