*{
    margin: 0;
    padding: 0;
    border: 1px solid red;
}
.headSection{
    width: 100vw;
    height: 395px;
    position: relative;
    background-color: rgb(98, 151, 20);
}
.My_img img{
    position: absolute;
    top: 111px;
    left: 154px;
    border-radius:50% 50% 50% 50% / 50% 50% 50% 50%;
    width: 433px;
    height: 436px;
}
.headDIV{
    border: 1px solid rgb(187, 102, 102);
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}
.head2DIV{
    border: 1px solid white;
    height: 100%;
    width: 50vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headText{
    color: #fff;
}
.headLINKS a{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}